#wrapper{
    height: 200px;
    width: 50%;
    border: 1px solid black;
    margin: auto;
    padding: 4px;
    display: flex;
    flex-direction: row;
}
#left{
    width: 100%;
    border: 1px solid blue;
    padding: 4px;
}
#left form input{
    margin-bottom: 4px;
}
#right{
    width: 100%;
    border: 1px solid red;
    padding: 4px;

}
